# Lab 2 - Function and Module Creation

# Pass Statement

In [7]:
a = 33
b = 200
if b>a:
    pass

In [24]:
def show(n):
    print("value is",n)
a=10
show(a)

def grettings(s):
    print( f"hello mr.{s} good morning!")
grettings("s.c.bose")

value is 10
hello mr.s.c.bose good morning!

In [26]:
def add(n1,n2):
    return n1+n2
add(1,3)

4

# W.A.P to check number even or odd

In [30]:
num = int(input("enter the number to check odd or even "))

def find_oddeven(num):
    if (num % 2)== 0:
        print('{} is even number'.format(num))
    else:
        print('{} is odd number'.format(num))
find_oddeven(num)

enter the number to check odd or even 18
18 is even number

In [37]:
def result(a,b):
    add = a+b
    sub = a-b
    mul = a*b
    print(f"sum is {add}, sub is {sub} , & mul is {mul}")
result(10,2)

sum is 12, sub is 8 , & mul is 20

In [41]:
num = input("enter the number: ")
def sqr(num):
    return num**2

enter the number: 18

In [42]:
def sqr(num):
    return num**2

In [43]:
print(sqr(6))

36

Function creation using default arguments

In [44]:
def myfun(x , y=50):
    print("x: " , x)
    print("y: " , y)

In [46]:
myfun(10,80)

x:  10
y:  80

# Function with * args and ** kwargs

In [50]:
def fun1(*Student):
    print("the brilliant student is " + Student[3])
    
fun1('Milan','Jemu','Diya','Shreya','Mayank')

the brilliant student is Shreya

In [54]:
def fun1(**Student):
    print("the brilliant student is " + Student['fname'])
    
fun1(fname = "Milan" , lname = "patel")

the brilliant student is Milan

# Lambda Function

lambda arg:exp

A lambda function is small anonympus function

In [58]:
n = int(input("enter the year: "))
leap = lambda y:(y%4 == 0 and y%100 !=0) or y%400 ==0
if leap(n):
    print("Leap Year")
else:
    print("Not Leap Year")

enter the year: 2004
Leap Year

In [59]:
x= lambda a:a+10
x(5)

15

# Python Module and Packages

In [60]:
pip install numpy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in c:\programdata\anaconda3\lib\site-packages (1.21.5)
Note: you may need to restart the kernel to use updated packages.

In [61]:
# import platform
import platform

In [62]:
platform.system()

'Windows'

In [63]:
import math

In [64]:
math.isqrt(64)

8

In [65]:
pow(2,4)

16

In [66]:
math.pi

3.141592653589793

In [67]:
math.factorial(10)

3628800

In [68]:
min(1000,250,500)

250

In [69]:
max(900,500,50000)

50000

In [70]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']