# Lab 1 - Python Control Statements

# if ,else, elif statement

In [1]:
if True:
    print("yes,Its True..!")

yes,Its True..!

In [4]:
 x= False
 if x:
    print("yes,Its True..!")
 else:
        print("its FALSE")

its FALSE

In [5]:
X=20
if x<16:
    print("x is less than 16")
else: 
    print("x is greater than 16")

x is less than 16

In [13]:
city = "Surat"

if city == "baroda":
    print("welcome to baroda")
elif city == "ahemedabad":
    print("welcome to ahemedabad")
elif city == "Surat":
    print("welcome to Surat ")    
else:
    print("welcome to my home ")

welcome to Surat

# While loop

In [15]:
i= 0
n= 10

while i<=10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9
10

In [14]:
count = 0
while (count < 9):
    print('the count is:',count)
    count = count + 1
    print(" Good bye!")

the count is: 0
 Good bye!
the count is: 1
 Good bye!
the count is: 2
 Good bye!
the count is: 3
 Good bye!
the count is: 4
 Good bye!
the count is: 5
 Good bye!
the count is: 6
 Good bye!
the count is: 7
 Good bye!
the count is: 8
 Good bye!

# For Loop

In [16]:
lst = [1,2,3,4,5,6,7,8,9,10]
for i in lst:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [17]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [20]:
for letter in 'DIYA':
    print(letter)

D
I
Y
A

In [22]:
fruits = ['apple','banana','grapes','cherry']
for fruit in fruits:
    print(fruit)

apple
banana
grapes
cherry

In [27]:
lst = [1,2,3,4,5,6,7,8,9,10]
for i in lst:
    if i%2 ==0:
         print(i)

2
4
6
8
10

In [28]:
lst = [1,2,3,4,5,6,7,8,9,10]
for i in lst:
    if i%2 ==1:
         print(i)

1
3
5
7
9

In [33]:
lst = [1,2,3,4,5,6,7,8,9,10]
for i in lst:
    if i%2 ==0:
         print('{} is even number'.format(i))
    else:
         print('{} is odd number'.format(i))

1 is odd number
2 is even number
3 is odd number
4 is even number
5 is odd number
6 is even number
7 is odd number
8 is even number
9 is odd number
10 is even number

In [34]:
sqr_lst = [x**2 for x in range(0,11)]
sqr_lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]