# Lab 2 - Perform Selection , Reindexing and sorting in Pandas

# Program 1 - Selection and Reindexing

In [5]:
import pandas as pd
info = pd.DataFrame({"M":[4, 7, 1, 8, 9], "S":[6, 8, 10, 15, 11], "D":[17, 13, 12, 16, 14], "J":[15, 19, 7, 21, 9]}, index =["MILAN", "JEMU", "SHREYA", "MAYANK", "DIYA"])
info

        M   S   D   J
MILAN   4   6  17  15
JEMU    7   8  13  19
SHREYA  1  10  12   7
MAYANK  8  15  16  21
DIYA    9  11  14   9

In [6]:
info.reindex(["A","B","C","D","E"])

    M   S   D   J
A NaN NaN NaN NaN
B NaN NaN NaN NaN
C NaN NaN NaN NaN
D NaN NaN NaN NaN
E NaN NaN NaN NaN

In [7]:
info.reindex (["A", "B", "C", "D", "E"], fill_value =100)

     M    S    D    J
A  100  100  100  100
B  100  100  100  100
C  100  100  100  100
D  100  100  100  100
E  100  100  100  100

# Program 2 - Pandas Sort

In [18]:
random = np.random.randn(10,2)
rand_int = np.random.randint(1,100,size=(4,4))
rand_int
df = pd.DataFrame(rand_int)
df

    0   1   2   3
0  40  49  31   8
1  88  65  53  44
2  48  25  86  11
3  14  16  70  67

In [19]:
import pandas as pd
import numpy as np

unsorted_df = pd.DataFrame (np.random.randn (10,2), index= [1,4,6,2,3,5,9,8,8,7], columns = ['co12', 'col1'])
sorted_df = unsorted_df.sort_index() 
print (sorted_df)

       co12      col1
1 -2.887460 -0.708762
2  1.220193  1.363922
3  0.229150  0.584514
4  1.191076 -0.511622
5 -0.558358  0.239843
6 -0.273701 -0.555922
7 -0.857706 -1.300563
8  0.374001 -0.597035
8 -0.077833 -1.535230
9 -0.567091 -2.094421

# 1 Order of Sorting

In [20]:
import pandas as pd
import numpy as np
unsorted_df = pd.DataFrame(np.random.randn (10,2), index= [1,4,6,2,3,5,9,8,8,7], columns = ['col2', 'col1'])
sorted_df = unsorted_df.sort_index(ascending=False)
print (sorted_df)

       col2      col1
9  0.518735  1.132837
8 -1.334843  0.915801
8 -0.844251  1.243410
7  0.820894  0.793703
6  1.056486  0.419230
5  0.466872 -0.325401
4  0.723960 -0.128439
3 -0.589093  0.056963
2  0.871572  0.541195
1 -0.891881 -0.557104

# 2 Sort the Columns

In [22]:
import pandas as pd
import numpy as np
unsorted_df = pd.DataFrame(np.random.randn (10,2), index=[1,4,6,2,3,5,9,8,8,7], columns = ['col2', 'col1'])
sorted_df=unsorted_df.sort_index(axis=1)
print (sorted_df)

       col1      col2
1  0.804576  0.362364
4  1.159167 -0.174948
6 -1.346000 -0.236383
2  0.343363  0.610395
3  0.979575 -0.314938
5 -0.165411 -1.252589
9 -0.008009 -1.155048
8 -0.206230  0.634120
8 -1.482684  0.147059
7 -1.506889 -0.416859

# 3 By Value

In [ ]:
import pandas as pd
import numpy as np
unsorted_df = pd.DataFrame({'col1': [2,1,1,1], 'col2': [1,3,2,4]})
sorted_df = unsorted_df.sort_values (by='col1')
print (sorted_df)