# Lab 2 - Perform Basic Python Operation

  We will cover following topics
  
    Python variables.
    Python data structure

In [3]:
#print your name
print("I am Diya Patel")

I am Diya Patel

# Python Variables

A variable is a container for a value.It can be assign a name you can use it to refer to it latter in the programme.

In [7]:
count =100            #Integer Assignment
kilometers= 1000.0   #Float Assignment
name ='Diya'         #string Assignment

print(count,kilometers,name)

100 1000.0 Diya

In [6]:
a,b,c=1,2,"Diya"
print(a,b,c,sep=',')

1,2,Diya

In [9]:
a = "Hello World"
b = 20
c = 20.5
d = ["apple","bannana","cherry"]
e = ["apple","bannana","cherry"]
f = range(6)
g = {"name" :" Diya","age" :20}
h = {"apple","bannana","cherry"}

In [10]:
print(type(a)) # it will return the datatype
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))
print(type(h))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'list'>
<class 'list'>
<class 'range'>
<class 'dict'>
<class 'set'>

In [4]:
num1=32.3e18
type(num1)

float

# Python Strings

String in Python are identified as a contiguous set of characters represented in the quotation marks.

In [26]:
str1 = 'i am diya patel'

In [27]:
print(str1)

i am diya patel

In [28]:
print(str1[0])

i

In [29]:
print(str1[0])

i

In [35]:
print(str1[2:5])

am

In [33]:
print(str1[4:15])

 diya patel

In [39]:
#Default order
String1="{2} {0} {1}" .format('python','programming','language')
print("print string in default order of keywords:")
print(String1)

print string in default order of keywords:
language python programming

In [43]:
# keyword formatting
String1 = "{a} {e} {c}" .format(a='python',e='programming',c='language') # {} {} {} order of thr string
print("\nprint string in order of keywords:")
print(String1)

print string in order of keywords:
python programming language

In [45]:
val='Diya'
print(f"{val} is the student of my class")

Diya is the student of my class

In [47]:
name='diya'
age=20
print(f"hello,my name is(name)and i am (age) years old.")

hello,my name is(name)and i am (age) years old.

In [68]:
str1 = "apple is a king of fruits."
print(str1.upper())
print(str1.lower())
print(str1.title())
print(str1.capitalize())
print(str1.swapcase())
print(str1.isalpha())
print(str1.isdigit())
print(str1.isupper())
a=str1.split()
print(a)

b=" ".join(a)
print(b)

APPLE IS A KING OF FRUITS.
apple is a king of fruits.
Apple Is A King Of Fruits.
Apple is a king of fruits.
APPLE IS A KING OF FRUITS.
False
False
False
['apple', 'is', 'a', 'king', 'of', 'fruits.']
apple is a king of fruits.

# Operators

arithmetic operators

In [54]:
5 + 8

13

In [57]:
a=2
a+=3
print(a)

b=2
b*=3
print(b)

5
6

In [60]:
a=1
b=2
print(a==b)

a=1
b=2
print(a!=b)

False
True

In [61]:
a=3
print(a>2 and a<10)

b=4
print(b>2 and b<10)

True
True

In [71]:
#  Division
3/2

1.5

In [70]:
# Floor Division
10//4

2

In [72]:
# powers
2**3

8

In [73]:
# can also do roots this way
4**0.5

2.0

In [74]:
#order of operations followed in python
2+10*10+3

105

In [75]:
#can use parentheses to specify orders
(2+10) * (10+3)

156

In [77]:
x=int(input("enter the value of x:"))

y=int(input("enter the value of y:"))

z=x*y
print(z)

enter the value of x:18
enter the value of y:12
216

# Python version check in notebook

In [78]:
from platform import python_version

print(python_version())

3.9.12

In [84]:
var1=  12
var2= 200.50
var3= "intel"
var4= True


print(var1)
print(type(var1))

print(var2)
print(type(var2))

print(var3)
print(type(var3))

print(var4)
print(type(var4))

12
<class 'int'>
200.5
<class 'float'>
intel
<class 'str'>
True
<class 'bool'>

In [90]:
s1="gujarat "
s2="university"

print(s1)
print(s2)

s3= s1 + s2
print(s3)

s4=s1*4
print(s4)

gujarat
university
gujarat university
gujarat gujarat gujarat gujarat

In [92]:
name = 'RNGPIT'

print(name)
print(len(name))

RNGPIT
6

In [93]:
s1[:5]

'gujar'

In [94]:
s2[:]

'university'

In [97]:
s3[:9]

'gujarat u'